.flex-container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-item {
  margin: 10px;
  line-height: 20px;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  flex: 1;
}

.shopping-card {
  width: 800px;
  margin: 25px;
}